.DS_Store
*.swp
.idea
node_modules
report
dist/
commonjs/
module/
target/
npm-debug.log
npm-shrinkwrap.json
*.iml
jsconfig.json
.vscode/*
!.vscode/settings.json
_node
.nyc_output
yarn-error.log
package-lock.json
lerna-debug.log
coverage/
junit.xml
out/
bundle-master
bundle-pr
diff.html
roleFile
core.*
.env
.eslintcache
tsconfig.tsbuildinfo
build-info.sh
proof-junit.xml
proof-a11y.json
coverage